#nav-container {
    background-image: url("https://static.pexels.com/photos/99551/hot-air-balloon-valley-sky-99551.jpeg");
    height: 500px;
}

.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

#sec1, #sec2, #sec3 {
    height: 400px;
    margin-top: 50px;
}
#sec1{
    background-color: blue;
}

#sec2{
    background-color: green;
}

#sec3{
    background-color: red;
}

.b{
    background-color: blue;
}

.br{
    background-color: brown;
}

.y{
    background-color: yellow;
}

.b,.br,.y{
    height: 350px;
    margin-top: 25px;
}

.margin-content-image{
    margin-top: 20px;
}

.content-image{
    padding-top: 20px;
    padding-bottom: 11px;
    background-color: orange;
}

.content{
    padding: 10px 15px 5px 15px;
    line-height: 35px;
}
